<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appName</key>
	<string>The Wire Character Viewer</string>
	<key>dataUrl</key>
	<string>http://api.duckduckgo.com/?q=the+wire+characters&amp;format=json</string>
</dict>
</plist>
